header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container{
  width: 1400px;
  margin: 0 auto;
}

.search{
  height: 80%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353943;
  padding:0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 700;
}

.search svg{
  background: transparent;
}
.logo{
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(0, 255, 149);
  border-bottom: 1px solid rgb(0, 255, 149);
  border-top: 1px solid rgb(0, 255, 149);
  height: 70%;
  padding: 0 20px;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}


.logo p{
  color: #ffc000;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0 5px;
  transform: skew(0deg);
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -ms-transform: skew(0deg);
  -o-transform: skew(0deg);
}

.logo svg{
  transform: skew(0deg);
  -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -ms-transform: skew(0deg);
  -o-transform: skew(0deg);
}


.login{
  display: flex;
  align-items: center;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 20px;
  background: #ffc000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login p{
  margin: 0 5px;
  background-color: #ffc000;
}
.login svg{
  background-color: #ffc000;
}

.control-dots{
  background-color: transparent;
}

.slide{
  object-fit: cover;
}

.slider{
  width: 100%;
  height: 600px;
  margin-top: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider img{
  object-fit: contain;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}